.buttonGrid{
  text-align:center;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:15px;
  padding:3px;
}

button{
  width:250px;
  height:50px;
  border-radius:3px;
  color:black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:hover{
  background-color:#4391F0;
  color:white;
}

.title {
  font-size: 1.5rem;
  color: $gray-darker;
  font-weight: 500;
  width: 58.33333%;
  margin: 0px;
}

.category {
  padding-top:15px;
  color: blue;
}

/* Status Icons */
.fa-check-circle {
  color: $brand-success;
}

.fa-plus-circle {
  color: $brand-primary;
}

.fa-exclamation-circle {
  color: $brand-danger;
}

.fa-minus-circle{
  color: $brand-warning;
}

.fa-info-circle {
  color: $brand-info;
}

.fa-times-circle {
  color: orange;
}

.tb {
  margin-top: -45px;
  width: 100%;
}

.tb th {
  padding-bottom: 4px;
}

.outage-row {
  text-align: center;
  padding: 5px;
}

.fa {
  cursor: pointer;
  font-size: 18px;
}

.date-column {
  width: 8.3333%;
  white-space: nowrap;
  text-align: center;
  font-size: 13px;
  color: $gray-darker;
  font-weight: 500;
}

.banner {
  padding: 5px 0px;
  color: white;
  display: block;
}

.banner-success {
  background-color: #5cb85c;
}

.label {
  border-radius: 1em;
  font-weight: normal;
  font-size: 90%;
  display: block;
}

.labelP3 {
  color: black;
  border-radius: 1em;
  font-weight: normal;
  font-size: 90%;
  display: block;
}
