<p class="showDomain">${Current selection } <text ng-class="{ 'red-class' : c.data.changeColor}">{{c.data.selectedDomain}}</text></p>
<div class="buttonGrid">
  <div ng-repeat="allApp in c.data.appNamesValues.appsNvalues">
    <button ng-class="{'mi-class': c.data.domainColor[allApp.appName]==4, 'p1-class': c.data.domainColor[allApp.appName]==3, 'p2-class': c.data.domainColor[allApp.appName]==2, 'p3-class': c.data.domainColor[allApp.appName]==1}" type="button" name="domainButtons" ng-click="showAppStatus(allApp.appValue,allApp.appName)">
      {{allApp.appName}}
    </button>
  </div>
  <div ng-show="c.blankOuts()">
    <button style="background-color:#000000; color:#ffffff; font-weight: bold;" ng-click="c.showOuts(c.data.Incs)">
      Incomplete Outage records: {{c.data.bCount}}
    </button>
  </div>
</div>
<div>&nbsp;</div>
<div class="header">
  <div class="panel panel-default">
    <table class="table table-hover">
      <thead>
        <th scope="col">
          <h2 class="panel-title title">
            ${Status History}
          </h2>
        </th>
        <th scope="col" ng-repeat="date in ::data.dates" class="date-column">{{::date.month}} {{::date.day}}</th>
        <th scope="col" class="date-column">${Now}</th>
      </thead>
      <tbody>
        <tr ng-repeat-start="category in c.data.categories" aria-hidden="true">
          <th scope="col" colspan="4" title="{{::category.label}}"><h3 class="title category" ng-bind-html="::category.label"></h3></th>
        </tr>
        <tr ng-repeat-end ng-repeat="service in ::category.services">
          <td scope="row">
            <a href="javascript:void(0)" data-service="{{service.sys_id}}" ng-click="c.detailsModal($event, service.sys_id, service.name)" ng-bind-html="::service.name" title="Click for more info"></a>
          </td>
          <td ng-repeat="n in [0,1,2,3,4,5,6] track by $index" class="outage-row">
            <span
                  class="fa" 
                  href="javascript:void(0)" 
                  data-outage="{{outage.sys_id}}" 
                  ng-click="c.doClick($event, service.outages[6-$index].link)"
                  ng-class="::service.outages[6-$index].icon" 
                  sp-tooltip
                  aria-label="{{::data.dates[$index].month + ' ' + data.dates[$index].day + ' - ' + service.outages[6-$index].msg}}"
                  role="application" 
                  tooltip-smart="true"
                  tooltip-template="{{::service.outages[6-$index].msg + ' - ' + data.dates[$index].month + ' ' + data.dates[$index].day}}">
            </span>
          </td>
          <td class="outage-row">
            <span ng-if="service.curOutages[0] == 0" 
                  class="label label-success" style="background:#558234">${Operational}
            </span>
            <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == 'Major Incident'"
                  href="javascript:void(0)"
                  ng-click="c.openInc(service.curOutages[2])"
                  class="label label-danger" style="background:#ff0000; cursor:pointer;">${Major Incident}
            </span>
            <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == '1 - Critical'"
                  href="javascript:void(0)"
                  ng-click="c.openInc(service.curOutages[2])"
                  class="label label-warning" style="background:#cc3300; cursor:pointer;">${P1 Incident}
            </span>
            <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == '2 - High'"
                  href="javascript:void(0)"
                  ng-click="c.openInc(service.curOutages[2])"
                  class="label label-primary" style="background:#ff6600; cursor:pointer;">${P2 Incident}
            </span>
            <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == '3 - Moderate'"
                  href="javascript:void(0)"
                  ng-click="c.openInc(service.curOutages[2])"
                  class="labelP3" style="background:#f0eb4e; cursor:pointer;">${P3/U Incident}
            </span>
            <span ng-if="service.curOutages[0] > 1"
                  href="javascript:void(0)"
                  ng-click="c.multInc(service.curOutages[3])"
                  class="label label-info" style="cursor:pointer">{{service.curOutages[1]}}
            </span>
          </td>
        </tr>
        <td class="outage-row">
          <span ng-if="service.curOutages[0] == 0" 
                class="label label-success" style="background:#558234">${Operational}
          </span>
          <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == 'Major Incident'"
                class="label label-danger" style="background:#ff0000">${Major Incident}
          </span>
          <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == '1 - Critical'" 
                class="label label-warning" style="background:#cc3300">${P1 Incident}
          </span>
          <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == '2 - High'"
                class="label label-primary" style="background:#ff6600">${P2 Incident}
          </span>
          <span ng-if="service.curOutages[0] == 1 && service.curOutages[1] == '3 - Moderate'"
                class="labelP3" style="background:#f0eb4e">${P3/U Incident}
          </span>
          <span ng-if="service.curOutages[0] > 1"
                class="label label-info">{{service.curOutages[1]}}
          </span>
        </td>
      </tbody>
    </table>
  </div>
